<div class="row mt-5">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header">
            Graficar datos de Excel
        </div>
        <div class="card-body">
            <canvas id="myChart" width="400" height="250"></canvas>
        </div>
        <div class="card-footer">
            <div class="row my-auto">
                <div class="col-8"></div>
                <div class="col-2">
                    <button id='renderBtn' class="form-control">Render</button>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>

<script src="javascripts/myChart.js"></script>